* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #19191a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    position: relative;
    padding-bottom: 8em;
}

.container {
    background: #9ae;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.329);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #19191a;
    font-weight: bold;
}

canvas {
    border: 2px solid #646fff;
    background-color: #19191a;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.controls {
    margin-top: 20px;
}

div p{
    margin-bottom: 9px;
    font-weight: bolder;
    color:#f1f1f1;
    background-color: #646effa1;
    padding: 3px 0 3px 0;
    border-radius: 4px;
}

button {
    cursor: pointer;
    font-size: small;
    font-family: inherit;
    font-weight: bold;
    color: #0011ff;
    background-color: #f8f8fd;
    padding: 0.8em 2.2em;
    border-radius: 50em;
    border: 6px solid #8b93f8;
    box-shadow: 0px 8px #1f35ff;
    margin-left: 20px;
}

@media (max-width: 390px){
    button{
        margin-bottom: 20px;
        margin-left: 0;
    }
}

button:active {
    position: relative;
    top: 8px;
    border: 6px solid #646fff;
    box-shadow: 0px 0px;
}

body footer{
    height: 50px;
    position: absolute;
    bottom: 0;
}

footer p{
    font-weight: 500;
    color: #f1f1f1;
}